<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <title>Tugas Pemrograman Framework - Node JS dan NPM</title>
</head>
<body>
    <div class="row">
        <div class="col" style="text-align: center;">
            <div class="position-absolute top-50 start-50 translate-middle">
                <h1 class="text-dark display-1"><strong>Ramadhan</strong></h1>
                <h2 class="text-secondary display-6">it's time to empty your stomatch</h2>
                <h2 class="text-secondary display-6">to feed your soul.</h2>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>